*.a
*.o
*~
*#
*vgcor*
*.gcno
*.gcda
unit_tests

.temp/
log*.txt

*myteams_cli
*myteams_server

.database

# Text editor files
.vscode/
.idea

# my personnal folder to test something inside the repo
.sandbox
